<!DOCTYPE html>
<html>
<head>
	<title>AboutUs</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<div class = "gridWrapper1">
			
			<div class = "header1">
				<h1>About Us</h1>
			</div>

			
			<div class ="profile1">
				<img class = "image1"><img src="gallerypics/ness.png" width = "150px">
					<div class ="para1">
						<h2>Steven Ng</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
			</div>
			
			<div class ="profile2">
				<img class = "image2"><img src="gallerypics/tiana.jpeg" width = "150px">
					<div class ="para2">
						<h2>Jessica Clay</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
			</div>

			
			<div class ="profile3">
			
				<img class = "image3" src="gallerypics/olaf.jpeg" width= "150px">
					<div class = "para3">
						<h2>Adam Klein</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						
					</div>
				</div>		

	</div>


</body>
</html>