<div id="emailDiv">
  <h2 id="emailTitle">Contact Us!</h2>

  <form action="/sendEmail" method="post">
    Email: <input type="text" name="email" placeholder="Enter Email Here">
    Subject: <input type="text" name="subject" placeholder="Enter Subject Here">
    Content: <input type="text" name="content" placeholder="Enter Message Here">
    <input type="submit" name="" value="submit">
  </form>

  <p id="sentMessage"></p>
</div>

<div id='todolist'>
  <div id='contact-heading'>Make a reservation</div>
  <div class='directions'>Enter your information</div>
  <div id='infoinputs'>
    <input id='nameinput' type="text" name="" value="" placeholder="name">
    <input id='email' type="text" name="" value="" placeholder="email">

    <input id='number' type="text" name="" value="" placeholder="phone number">
  </div>
 <div class='directions'>Click to add day and time to reservation</div>
  <div id="days">

    <div  class='days' id='Monday'>Monday</div>
    <div  class='days' id='Tuesday'>Tuesday</div>
    <div  class='days' id='Wednesday'>Wednesday</div>
    <div  class='days' id='Thursday'>Thursday</div>
    <div  class='days' id='Friday'>Friday</div>

  </div>
  <div id="times">

    <div class='times' id='t1'>7-8 AM</div>
    <div class='times' id='t2'>8-9 AM</div>
    <div class='times' id='t3'>9-10 AM</div>
    <div class='times' id='t4'>10-11 AM</div>
    <div class='times' id='t5'>11AM-12PM</div>

  </div>
  <input id="reserve" type="text" name="" value="" placeholder="click date and time to add to reservation">
  <button id='reservebtn'type="button" name="button">Reserve</button>
  <button id='clearbtn'type="button" name="button">Clear</button>

  <div id="reservecomplete"></div>
</div>
<script type="text/javascript" src="../scripts/main.js"></script>
