<h1>Make a reservation</h1>
<h3>Enter your information</h3>
<div id='todolist'>
  <div id='infoinputs'>
    <input id='name'type="text" name="" value="" placeholder="Name">
    <input id='email' type="text" name="" value="" placeholder="email">
    <input id='number' type="text" name="" value="" placeholder="phone number">
  </div>
 <h3>Click to add day and time to reservation</h3>
  <div id="days">
    <button type="button" class='d' value='Monday'>Monday</button>
    <button type="button" class='d'value='Tuesday'>Tuesday</button>
    <button type="button" class='d' value='Wednesday'>Wednesday</button>
    <button type="button" class='d' value='Thursday'>Thursday</button>
    <button type="button" class='d' value='Friday'>Friday</button>
  </div>
  <div id="times">
    <button type="button" class='t'>7-8 AM</button>
    <button type="button" class='t'>8-9 AM</button>
    <button type="button" class='t'>9-10 AM</button>
    <button type="button" class='t'>10-11 AM</button>
    <button type="button" class='t'>11 AM-12 PM</button>
  </div>
  <input id="reserve" type="text" name="" value="">
  <button id='reservebtn'type="button" name="button">Reserve</button>
  <div id="reservecomplete"></div>
</div>
