<div id='todolist'>
  <div id="days">
    <button type="button" class='d'>Monday</button>
    <button type="button" class='d'>Tuesday</button>
    <button type="button" class='d'>Wednesday</button>
    <button type="button" class='d'>Thursday</button>
    <button type="button" class='d'>Friday</button>
  </div>
  <div id="times">
    <button type="button" class='t'>7-8 AM</button>
    <button type="button" class='t'>8-9 AM</button>
    <button type="button" class='t'>9-10 AM</button>
    <button type="button" class='t'>10-11 AM</button>
    <button type="button" class='t'>11 AM-12 PM</button>
  </div>
  <input id="reserve" type="text" name="" value="">
  <button id='reservebtn'type="button" name="button">Reserve</button>
  <div id="reservecomplete"></div>
</div>
