<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
		<div class = "gridWrapper2">		

			<div class = "header2">
					<h1>Gallery</h1>
			</div>

			<div class ="Event1">
				<img class = "img1"><img src="../images/jerseyfest.jpg" width = "300px" height = "300px">

					<div class ="box1">
						<h2>Jersey Fest</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
								</p>
					</div>
			</div>

			<!-- <img class = "img4"><img src="gallerypics/ChickenandWaffles.png" width = "300px" height = "300px">
 -->
			<div class ="Event2">
				<img class = "img2"><img src="../images/spartanfest.jpg" width = "300px">
					<div class ="box2">
						<h2>Spartan Fest</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
								</p>
					</div>
			</div>
		

				<div class ="Event3">
					<img class = "img3"><img src="../images/foodtruckathon.png" width = "300px">
						<div class ="box3">
							<h2>Food Truckathon</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. 
								</p>
						</div>
				</div>

				

		</div>

</body>
</html>