<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <header>
      <img id="logo" src="../images/crying-waffle.png" title="happy tears" alt="">
      <h1>Philly Flip-Flops</h1>
    </header>

    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Gallery</a>
      <a href="#">Menu</a>
      <a href="#">Contact</a>
    </nav>

    <div class="container">
      <%=yield%>
    </div>

    <footer>

    </footer>
  </body>
</html>
