<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <img id="logo" src="../images/crying-waffle.png" title="happy tears" alt="">
        <h1 id="title">Philly Flip-Flops</h1>
      </header>

      <nav>
        <a href="#">Contact</a>
        <a href="menu">Menu</a>
        <a href="">Gallery</a>
        <a href="#">About</a>
        <a href="homepage">Home</a>
      </nav>

      <div class="container">
        <%=yield%>
      </div>

      <footer>

      </footer>
    </div>
  </body>
</html>
