<div id='menu-wrapper'>
      <h1 id='menu-title'>Menu</h1>
      <div id='menu-img1'></div>
      <div>
        <h2>Waffle Options</h2>
        <p>American 1.00<br/>Belgian 1.50<br/>Minis 1.00<br/>Kids .75</p>
      </div>
      <div>
        <h2>Spreads</h2>
        <p>Nutella .50<br/>Speculoos .75<br/>Cinnamon spread .50<br/> Fruit Spread.50</p>
      </div>
      <div id='menu-img2'></div>
      <div id='menu-img3'></div>
      <div>
        <h2>Toppings</h2>
        <p>Whipped Cream .50<br/>Fresh Fruit .75<br/>Nuts .50<br/>Chocolate Syrup .50<br/></p>
      </div>
  </div>
