.gridWrapper1 {

	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
	width: 80%;
	background-image: url("gallerypics/summertimeeating.jpg");
	background-size: 200%
	/*background-image:;*/
}

.header1 {

	text-align: center;
	/*border: 2px solid blue;*/
	height: 70px;
	width: 90%;
	grid-row-start: 1;
	grid-row-end: 2;
	position: relative;
	text-decoration: underline;
	font-size: 30px;
	/*top: 150px;*/
	color: yellow;
	text-shadow: 2px 2px black; 
}
.profile1 {
	width: 60%;
	text-align: left;
	position: relative;
	left: 300px;
	bottom: 200px;
	border: 2px solid purple;
	/*height: 300px;*/
	background-color: #A9E5BB;
	border-radius: 30px;

}

.profile2 {
	width: 60%;
	text-align: left;
	border: 2px solid green;
	position: relative;
	bottom: 200px;
	left: 300px;
	background-color: #FCF6B1;
	border-radius: 30px;
}

h2 {
	/*border: 2px solid black;*/
	width: 20%;
	border-radius: 30px;

}



.profile3 {
	width: 60%;
	text-align: left;
	border: 2px solid orange;
	position: relative;
	bottom: 200px;
	left: 300px;
	background-color: #F7B32B;
	border-radius: 30px;

}

.image1 {

	display: inline;
	/*border: 2px solid red;*/

}



.para1 {
	
	border: 2px solid black;
	border-radius: 20px;
	width: 70%;
	/*display: inline;*/
	position: relative;
	left: 200px;
	bottom: 150px;
	/*background-color: lightblue;*/
	height: 250px;
		
}

.para2 {
	
	border: 2px solid black;
	border-radius: 20px;
	width: 70%;
	/*display: inline;*/
	position: relative;
	left: 200px;
	bottom: 150px;
	background-color: lightblue;
	height: 250px;
		
}
.para3 {
	
	border: 2px solid black;
	border-radius: 20px;
	width: 70%;
	/*display: inline;*/
	position: relative;
	left: 200px;
	bottom: 245px;
	background-color: lightblue;
	height: 250px;
		
}

.para1 p {
	text-align: left;
	font-size: 20px;
	/*word-break: break-all;*/
	/*word-wrap: break-word;*/
}
.para2 p {
	text-align: left;
	font-size: 20px;

}
.para3 p {
	text-align: left;
	font-size: 20px;

}