#Monday, #Tuesday, #Wednesday, #Thursday, #Friday {
  // border: solid 2px teal;
  border-radius: 25px;
  display: inline-block;
  background-color: orange;
  padding: 10px;
}
#t1, #t2, #t3, #t4, #t5 {
  // border: solid 2px orange;
  border-radius: 25px;
  display: inline-block;
  background-color: yellow;
  padding: 10px;
  margin-top: 10px;
}
#todolist {
  border: solid 4px green;
}
#reserve {
  margin: 10px auto;
}
