.gallery-gridWrapper2 {

	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
	width: 80%;
	/*background-image: url("gallerypics/summertimeeating.jpg");*/
	background-color: lightyellow;	 
}

.gallery-header2 {

	text-align: center;
	/*border: 2px solid blue;*/
	height: 70px;
	width: 90%;
	grid-row-start: 1;
	grid-row-end: 2;
	position: relative;
	text-decoration: underline;
	font-size: 30px;
	/*top: 150px;*/
}


.gallery-Event1{
	width: 70%;
	text-align: left;
	position: relative;
	/*height: 100px;*/
	/*left: 100px;*/
	margin-right: 500px;
	bottom: 300px;
	border: 2px solid purple;
	height: 400px;
	background-image: url("gallerypics/summertimeeating.jpg");
	color: black;
}

.gallery-Event2{
	width: 70%;
	text-align: left;
	position: relative;
	/*height: 400px;*/
	/*left: 300px;*/
	margin-right: 500px;
	bottom: 350px;
	border: 2px solid green;
	background-image: url("gallerypics/sphillycrowd.jpeg");
	background-size: 70%;

}

.gallery-Event3{
	width: 70%;
	text-align: left;
	position: relative;
	/*left: 300px;*/
	margin-right: 500px;
	bottom: 300px;
	border: 2px solid green;
	background-image: url("gallerypics/general1.jpg");
	color: black;
	

}

.gallery-box1 {
	border: 2px solid black;
	border-radius: 20px;
	width: 50%;
/*	display: inline;*/
	position: relative;
	left: 300px;
	bottom: 270px;
	background-color: lightblue;
	height: 150px;


}

.gallery-box2 {
	border: 2px solid red;
	border-radius: 20px;
	width: 50%;
	position: relative;
	left: 300px;
	bottom: 260px;
	background-color: lightblue;
}

.gallery-box3 {
	border: 2px solid green;
	border-radius: 20px;
	width: 50%;
	position: relative;
	left: 300px;
	bottom: 200px;
	background-color: lightblue;
}

.gallery h2 {
	width: 30%;
}

.gallery-box1 p {

	word-wrap: break-word;
	font-size: 20px;
	color: black;


}


.gallery-box2 p {

	word-wrap: break-word;
	font-size: 20px;
}

.gallery-box3 p {

	word-wrap: break-word;
	font-size: 20px;
}












