@font-face {
    font-family: lottalove;
    src: url(../images/alot-of-love.ttf);
}
@font-face {
    font-family: orangejuice;
    src: url(../images/orange-juice.ttf);
}
@font-face {
    font-family: snubnose;
    src: url(../images/snubnose.otf);
}

#logo{
  max-width: 200px;
  float: left;
  display: block;
  margin: 20px 10px 10px 30px;

}

#title{
  // float: left;
  display: inline-block;
  margin-left: -170px;
  font-family: orangejuice;
  font-size: 80px;
}

body{
  background-image: url("../images/waffle-tile.jpg");
}

header{
  text-align: center;
  margin-bottom: -30px;
}

nav{
  text-align: center;
  padding-right: 10px;
  background-color: #d2bba0;
  padding-top: 8px;
  width: 60%;
  margin-left: 22%;
  border-radius: 30px;
}

nav a{
  margin: 0 20px;
  text-decoration: none;
  font-family: snubnose;
  font-size: 22px;
  color: #f7ffe0;
}

nav a:hover{
  color: #9f7e69;
}

.container{
  margin-top: 50px;
}
